* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 233, 106);
}

h1 {
    background-color: rgb(255, 136, 0);
    color: rgb(77, 40, 5);
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 250px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 8px;
    box-shadow: -2px 2px rgb(29, 28, 28);
}

h3 {
    text-align: center;
    color: red;
}

h4 {S
    font-style: italic;
}

div{
    text-align: center;
    font-size: 25px;
}

a{
    display: inline-block;
    padding: 20px 20px 20px 20px;
}
ul,
ol {
    text-align: left;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
}

body {
    padding-bottom: 20px;
}